#image,.ui-selectable-helper{cursor:crosshair}.ui-selectable-helper{position:absolute;background:#333;opacity:.3}.spot{position:absolute;background:#333;opacity:.3}.reference-wrapper{position:absolute;background:#fff;border:1px solid #333;padding:5px}