@pin_width: 22px;

.note-wrapper {
    position: absolute;     

    .note-pin {
    	position: absolute;
        display: block;
        width: @pin_width;
        height: @pin_width;

        .pin-inner {
            position: absolute;
            display: block;
            border: 4px solid #fff;
            width: @pin_width;
            height: @pin_width;
            .rounded(100%);
            .boxsizingBorder;
            .box-shadow(0px 1px 5px #999);
        }
    }

    .note-content {
    	background: #f3f3f3;
    	display: none;
    	overflow: hidden;
    	width: 230px;
        margin-top: 20px;
    	.rounded(10px);
    	.box-shadow(0px 10px 20px #444);

    	.comment {   
            position: relative;		
    		border-bottom: 1px dotted #444;
    		padding: 23px 10px 20px;
            overflow: hidden;
    		
    		p {
    			margin: 0;
                .boxsizingBorder;
    		}

            .delete-comment {
                position: absolute;
                display: none;
                width: 16px;
                height: 16px;
                top: 5px;
                right: 5px;
                font-size: 14px;
                cursor: pointer;
                color: #999;
                text-align: center;
                .rounded(100%);
                padding: 1px;

                .confirm {                	
                    background: #df3411; 
                    position: absolute;
                    top: 0;
                    display: none;
                    .rounded(5px);
                    padding: 2px 6px;
                    color: #fff;
                    font-weight: 400;
                }

                &:hover {
                    color: #fff;
                    background: #df3411; 
                }
            }

            &:hover {

                .delete-comment { 
                    display: block;
                }
            }
    	}

    	form {
            margin: 0px;
    	
    		.comment-box {
    			padding: 6px 6px 0px;
    			
    			textarea {
					padding: 0;
					width: 100%;
					height: 50px;
					.boxsizingBorder;
				}
    		}				

	    	button {
	    		display: block;
	    		width: 100%;
	    		background: #5bc0de;
	    		border: none;
	    		color: #fff;
	    		padding: 10px;
	    		cursor: pointer;
	    	}
    	}	
    }
}

.boxsizingBorder {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
