@spot_bgcolor: #00ADFF;
@spot_bordercolor: #2A9FD8;
@spot_opacity: 0.6;

.ui-selectable-helper {
    cursor: crosshair;
}

.ui-selectable-helper {
    position: absolute;
    background: @spot_bgcolor;
    opacity: @spot_opacity;
}

.spot {
    position: absolute;
    display: block;
    background: @spot_bgcolor;
    opacity: @spot_opacity;
    cursor: pointer;
}

.reference-wrapper {
    position: absolute;
    background: #f3f3f3;    
    width: 280px;
    .rounded(10px);
    .box-shadow(0px 10px 20px #444);
    
    .reference-inner {
        padding: 15px 20px;
        
        #hook {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 6px 10.4px 6px 0;
            border-color: transparent #007bff transparent transparent;
        }
    }
    
    form {
        position: relative;
        margin: 0;
        
        span#select {
            display: block;
            padding: 6px 8px;
            border: 1px solid #ccc;
            cursor: pointer;
            background: #fff;
            .rounded(5px);

            i {
                float: right;
                margin-top: 1px;
                margin-right: -6px;
                font-size: 10px;
                background: #fff;
                width: 20px;
                height: 20px;
                line-height: 21px;
                text-align: center;
            }
        }
        
        #dropdown {
            display: none;
            position: absolute;
            background: #fff;
            width: 100%;            
            height: 300px;  
            border-left: 1px solid #ccc;
            border-right: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            .box-sizing(border-box);
            overflow: auto;            
            
            ul.screens {                     
                margin: 0;
                padding: 0;
                list-style: none;                

                li {
                    display: block;
                    padding: 0px 10px;
                    line-height: 30px;
                    cursor: pointer;

                    &:hover, &.active {
                        background: #eee;
                    }
                    
                    &.divider {
                        border-bottom: 1px solid #ccc;
                    }
                    
                }
            }
        }
        
        #field-external-url {
            display: none;
        }

        #screen-thumbnail {
            display: none;
            position: absolute;
            margin-left: -165px;
            border: 4px solid #fff;
            .rounded(5px);
            .box-shadow(0px 1px 10px #888);  

            img {
                width: 150px;
            }
        }                    
    }           
}
