
body {
    background: #333c4e;
    font-size: 14px;
}

.project-screen {
    position: relative;
    width: 600px;
    margin: 0 auto;

    #screen_image {
        cursor: crosshair;
    }
}


.view img {
    cursor: auto !important;
}

@import "spot.less";
@import "note.less";
@import "elements.less";
