<span class="note-pin">
    <span class="pin-inner" style="background: #5ec30d;"></span>
</span>
<div class="note-content">
	<form method="post" action="save.php" class="new-comment-note">
		<input type="hidden" name="_token" value="pijudntsbdkisw98yjsk" />	
		<input type="hidden" name="screen_id" value="1" />	
		<div class="comment-box">
			<textarea name="message"></textarea>
		</div>	

		<button>Post comment</button>
		<!-- <input type="submit" class="submit" /> -->
	</form>
</div>
